/* base */
*, *::before, *::after{
    box-sizing: border-box;
    // outline: 1px solid black;
}
body{
    font-family: Roboto,Noto Sans TC,sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: block;
}
a:hover{
    text-decoration: underline;
}