/* base */
*, *::before, *::after{
    box-sizing: border-box;
    // outline: 1px solid black;
}
html,body{
    font-family: Roboto,Noto Sans TC,sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
a:hover{
    text-decoration: underline;
}