/* container */
.container{
    /* 桌機 */
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    // 平板
    @media (max-width: 992px){
        max-width: 944px;
    }
    @media (max-width: 768px){
        max-width: 720px;
    }
    // 手機
    @media (max-width: 767px){
        // max-width: 372px;
        max-width: 719px;
    }
}


