// // text color
// $text-primary: #650300;
// $text-secondary: #FFFFFF;
// $text-teritiary: #AA0601;

// // background color
// $bg-primary: #AA0601;
// $bg-secondary: #FBF2F2;


// font size
$fz-xl: 48px;
$fz-lg: 24px;
$fz-md: 20px;
$fz-normal: 16px;
$fz-sm: 14px;

// // font weight
// $fw--bold: bold;
// $fw-md: 500;


// color
$color-1: #650300;
$color-2: #AA0601;
$color-3: #FBF2F2;
$color-4: #FFFFFF;
$color-5: #9F1213;