<!-- footer -->
<footer class="footer">
    <div class="container footer-wrap">
        <div class="footer-nav">
            <ul class="footer-menu">
                <li class="footer-menu-item"><a class="footer-menu-link" href="index.html">首頁</a></li>
                <li class="footer-menu-item"><a class="footer-menu-link" href="">系列鏡框</a></li>
                <li class="footer-menu-item"><a class="footer-menu-link" href="">門市據點</a></li>
                <li class="footer-menu-item"><a class="footer-menu-link" href="">部落格</a></li>
                <li class="footer-menu-item"><a class="footer-menu-link" href="faq.html">常見問題</a></li>
            </ul>
            <ul class="footer-social">
                <li><a class="footer-social-link" href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb icon"></a></li>
                <li><a class="footer-social-link" href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ig icon"></a></li>
                <li><a class="footer-social-link" href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line icon"></a></li>
            </ul>
        </div>
        <address class="footer-contact">
            <a class="footer-contact-link" href="tel:0800-000-000"><span class="material-symbols-outlined footer-contact-icon">call</span>0800-000-000</a>
            <a class="footer-contact-link" href="mailto:glasses@business.com"><span class="material-symbols-outlined footer-contact-icon">mail</span>glasses@business.com</a>
        </address>
    </div>
    <div class="container">
        <div class="footer-copyright">
            <p class="footer-copyright-content">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="footer-copyright-menu">
                <li class="footer-copyright-item">
                    <a class="footer-copyright-link" href="#">隱私權政策</a>
                </li>
                <li class="footer-copyright-item">
                    <a class="footer-copyright-link" href="#">服務條款</a>
                </li>
            </ul>
        </div>
    </div>

</footer>