<!-- nav -->
<nav class="navbar">
    <div class="container navbar-wrap">
        <h1>
            <a class="navbar-logo" href="index.html">眼鏡官網logo</a>
        </h1>
        <ul class="navbar-menu">
            <li class="navbar-item"><a class="navbar-link" href="product.html">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="store.html">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="blog.html">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="faq.html">常見問題</a></li>
        </ul>
    </div>
</nav>