<!-- nav -->
<nav class="navbar bg-primary">
    <div class="container navbar-wrap">
        <h1>
            <a class="navbar-logo" href="">眼鏡官網logo</a>
        </h1>
        <ul class="navbar-menu">
            <li class="navbar-item"><a class="navbar-link" href="#">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>