<nav>
    <ul class="pagination">
        <li class="page-item"><a class="page-link page-link-pre" href="#">上一頁</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link page-active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link page-link-pre" href="#">下一頁</a></li>
    </ul>
</nav>