.pagination{
    display: flex;
    justify-content: center;
}
.page-item{
    border: 1px solid #555555;
    
}
.page-link{
    padding: 12px 16px;
    font-size: 18px;
    @include mobile{
        font-size: $fz-normal;
    }
    &:hover{
        text-decoration: none;
        background-color: #F2F2F2;
    }
    &-pre{
        padding: 11px 12px;
        font-size: 19px;
        @include mobile{
            font-size: $fz-normal;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

}
.page-active{
    background-color: #000000;
    color: white;
}