.faq{
    .section-wrap{
        @mixin mobile{
            padding-top: 40px;
        }
    }
    .subtitle{
        font-size: $fz-lg;
        font-weight: bold;
        margin: 16px 0;
    }
    .question{
        font-size: $fz-md;
        font-weight: bold;
        margin: 8px 0;
    }
    .answer{
        margin-bottom: 24px;
    }
}