/* banner */
.banner {
    background-image: url("/assets/images/home-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-1;
    height: 787px;

    @include pad{
        background-image: url("/assets/images/home-header-sm.png");
    }
    @include mobile{
        height: 396px;
    }

    &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    &-news {
        font-size: 36px;
        @include mobile {
            font-size: 16px;
        }
    }

    &-slogan {
        font-size: 64px;
        font-weight: bold;
        @include mobile{
            font-size: 24px;
        }
    }

    &-btn {
        color: $color-4;
        background-color: $color-2;
        font-size: 20px;
        display: inline-block;
        padding: 6px 12px;
        margin-top: 4px;

        @include pad {
            margin-top: 10px;
        }
        @include mobile{
            margin-top: 8px;
        }

        &:hover {
            background-color: $color-1;
            text-decoration: none;
        }
    }
}

// feature
.feature {
    background-color: $color-3;
    &-item {
        padding-right: 12px;
        padding-left: 12px;
        width: 25%;
        text-align: center;
        @include pad{
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }
    }

    &-icon {
        width: 100px;
        margin-bottom: 16px;
        display: inline-block;
    }

    h4 {
        font-size: $fz-lg;
        color: $color-1;
        font-weight: bold;
        margin-bottom: 8px;
    }

    p {
        text-align: left;
    }
}
.classic{
    &-item {
        padding-right: 12px;
        padding-left: 12px;
        width: 33.33%;
        @include pad {
            width: 100%;
        }
    }
    &-img{
        margin: 0 auto;
        @include pad {
            width: 336px;
        }
    }
}
.design{
    background-image: url("/assets/images/index-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .section-header{
        color: $color-4;
    }
    .section-menu{
        margin: 0px;
    }
    .section-sub-header{
        padding-bottom: 8px;
    }
    .item{
        width: 50%;
        h4{
            background-color: $color-4;
        }
        @include pad{
            width: 100%;
        }
        div{
            width: 100%;
            height: 240px;
            background-size: cover;
        }
        &-img1{
            background-image: url("/assets/images/home-section4-1.png");
            @include mobile{
                background-image: url("/assets/images/home-section4-1-sm.png");
            }
        }
        &-img2{
            background-image: url("/assets/images/home-section4-2.png");
            @include mobile{
                background-image: url("/assets/images/home-section4-2-sm.png");
            }
        }
    }
}
// reviews
.reviews{
    &-item {
        padding-right: 12px;
        padding-left: 12px;
        width: 25%;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        .feedback{
            margin-bottom: auto;
        }
        @include pad {
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }
    }
    .info{
        min-height: 205px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-shadow: 0px 2px 6px #00000029;
    }
    .name{
        margin-bottom: 8px;
        font-weight: 500;
    }
    .date{
        font-size: $fz-sm;
        color: #707070;
    }
}
.contact{
    background-color: $color-3;
    p{
        font-size: $fz-md;
        padding-top: 24px;
        margin-bottom: 24px;
        @include pad{
            font-size: $fz-normal;
            padding-top: 0;
        }
    }
    .section-wrap{
        max-width: 660px;
        @include pad {
            max-width: 600px;
        }
    }
    .form{
        .info{
            display: block;
            margin-bottom: 8px;
        }
        .input {
            margin-bottom: 16px;
            width: 100%;
            padding: 6px 12px;
            background-color: transparent;
        }
        textarea{
            min-height: 136px;
            resize: none;
        }
        .privacy{
            display: flex;
            align-items: center;
            @include mobile{
                align-items: flex-start;
            }
        }
        .submit{
            background-color: $color-2;
            color: $color-4;
            font-weight: bold;
            border: none;
            display: block;
            width: 66.66%;
            margin: 0 auto;
            padding: 16px 0;
            margin-top: 40px;
            &:hover{
                background-color: $color-1;
            }
            @include pad {
                width: 60%;;
            }
            @include mobile{
                width: 100%;
            }
        }
    }
}