/* banner */
.banner {
    background-image: url("/assets/images/home-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 992px) {
        background-image: url("/assets/images/home-header-sm.png");
    }

    &-wrap {
        padding-top: 296px;
        padding-bottom: 296px;
        text-align: right;

        @media (max-width: 767px) {
            padding-top: 144px;
            padding-bottom: 144px;
        }
    }

    &-news {
        font-size: 36px;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &-slogan {
        font-size: 64px;
        font-weight: bold;

        @media (max-width: 767px) {
            font-size: 24px;
        }
    }

    &-btn {
        font-size: 20px;
        display: inline-block;
        padding: 6px 12px;
        margin-top: 4px;

        @media (max-width: 992px) {
            margin-top: 10px;
        }

        @media (max-width: 767px) {
            margin-top: 8px;
        }

        &:hover {
            background-color: $text-primary;
            text-decoration: none;
        }
    }
}

// main
.section {
    &-pd {
        padding-top: 80px;
        padding-bottom: 80px;

        @media (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &-wrap{
        padding-left: 0;
        padding-right: 0;
    }
    &-header {
        font-size: $fz-xl;
        color: $text-primary;
        font-weight: bold;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        @media (max-width: 767px){
            font-size: $fz-lg;
        }
    }
    &-menu {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
}

// feature
.feature {
    &-item {
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 24px;
        width: 25%;
        @media (max-width: 992px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &-icon {
        width: 100px;
        margin-bottom: 16px;
        display: inline-block;
    }

    h4 {
        font-size: $fz-lg;
        color: $text-primary;
        font-weight: bold;
        margin-bottom: 8px;
    }

    p {
        text-align: left;
    }
}
.classic{
    &-item {
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 48px;
        width: 33.33%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    h4{
        font-style: italic;
        margin-top: 8px;
    }
    &-img{
        @media (max-width: 992px){
            max-width: 336px;
        }
        @media (max-width: 767px) {
            max-width: 348px;
        }
    }
}