<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>
    <title>眼鏡官網 - 部落格</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <nav class="blog-nav">
      <div class="container navbar-wrap">
        <ul class="navbar-menu">
          <li class="navbar-item"><a class="navbar-link" href="#">最新消息</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">特別企劃</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">新品上市</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">鏡框小知識</a></li>
        </ul>
        <a class="icon-link" href="#"><span class="material-symbols-outlined icon">
            search
          </span></a>
      </div>
    </nav>

    <main class="blog">
      <div class="container section-wrap">
        <h2 class="page-header">部落格</h2>
        <ul class="blog-menu">
          <li class="blog-item">
            <img class="blog-img" src="/assets/images/blog-1.png" alt="情人特別企劃">
            <div class="blog-content">
              <a class="blog-title" href="#"><h3>情人特別企劃</h3></a>
              <div class="blog-subtitle">
                <h4>2020 Valentine’s Special</h4>
                <time>2020/02/14</time>
              </div>
              <p class="blog-text">
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                <br>即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯
              </p>
              <a class="blog-btn" href="#">MORE</a>
              <a class="blog-text-short"
                href="#">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯more</a>
            </div>
          </li>
          <li class="blog-item">
            <img class="blog-img" src="/assets/images/blog-2.png" alt="街頭潮人訪問">
            <div class="blog-content">
              <h3 class="blog-title">街頭潮人訪問</h3>
              <div class="blog-subtitle">
                <h4>Street Interview</h4>
                <time>2020/02/02</time>
              </div>
              <p class="blog-text">
                炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T
                恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯
              </p>
              <a class="blog-btn" href="#">MORE</a>
              <a class="blog-text-short" href="#">炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T
                恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3 款單品，讓你瞬間帥氣⋯⋯more</a>
            </div>
          </li>
          <li class="blog-item">
            <img class="blog-img" src="/assets/images/blog-3.png" alt="春季新品上市">
            <div class="blog-content">
              <h3 class="blog-title">春季新品上市</h3>
              <div class="blog-subtitle">
                <h4>New Selection</h4>
                <time>2020/02/02</time>
              </div>
              <p class="blog-text">
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a class="blog-btn" href="#">MORE</a>
              <a class="blog-text-short"
                href="#">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯more</a>
            </div>
          </li>
          <li class="blog-item">
            <img class="blog-img" src="/assets/images/blog-4.png" alt="設計師獨享鏡框優惠">
            <div class="blog-content">
              <h3 class="blog-title">設計師獨享鏡框優惠</h3>
              <div class="blog-subtitle">
                <h4>Sales for Designer</h4>
                <time>2020/01/18</time>
              </div>
              <p class="blog-text">
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a class="blog-btn" href="#">MORE</a>
              <a class="blog-text-short" href="#">2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯more</a>
            </div>
          </li>
          <li class="blog-item">
            <img class="blog-img" src="/assets/images/blog-5.png" alt="抵抗夏日大作戰">
            <div class="blog-content">
              <h3 class="blog-title">抵抗夏日大作戰</h3>
              <div class="blog-subtitle">
                <h4>Summer Special</h4>
                <time>2019/08/07</time>
              </div>
              <p class="blog-text">
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a class="blog-btn" href="#">MORE</a>
              <a class="blog-text-short" href="#">2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯more</a>
            </div>
          </li>
        </ul>
        <%- include('./layout/pagination'); -%>
      </div>
    </main>



    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>