<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>眼鏡官網 - 門市據點</title>
</head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main class="branch">
      <div class="container section-wrap">
        <h2 class="page-header">門市據點</h2>
        <div class="store-search-area">
          <p class="store-search-content">選擇分店</p>
          <select class="store-select">
            <option value="台北中山旗艦店">台北中山旗艦店</option>
            <option value="台北綠園店">台北綠園店</option>
            <option value="台中清水旗艦店">台中清水旗艦店</option>
            <option value="高雄中正形象店">高雄中正形象店</option>
            <option value="高雄夢時代店">高雄夢時代店</option>
          </select>
        </div>
        <div class="store-card">
          <ul class="store-card-list">
            <li class="store-card-item">
              <img src="/assets/images/store-1.png" alt="台北中山旗艦店">
              <div>
                <h3 class="store-name">台北中山旗艦店</h3>
                <address class="store-info">
                  <a class="store-info-item" href="tel:+886-2-0001234"><span
                      class="material-symbols-outlined store-icon">call</span>電話：(02)000-1234</a>
                
                  <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
                
                  <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：台北市中山區南京東路25巷2-1號
                  </p>
                </address>
              </div>
            </li>
              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.193729566736!2d121.58451357595698!3d25.061422137185776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab7e5d54f56d%3A0xd9f669d66f4a026d!2sNo.%2025%2C%20Nanjing%20E%20Rd%2C%20Neihu%20District%2C%20Taipei%20City%2C%20Taiwan%20114!5e0!3m2!1sen!2suk!4v1691073917011!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ul>

        </div>
        

      </div>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
