<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head'); -%>
        <title>眼鏡官網 - 首頁</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <!-- banner -->
        <div class="banner">
            <div class="container banner-wrap">
                <p class="banner-news">Promise-Desert 2020 早春系列</p>
                <h2 class="banner-slogan">看得清，才能看得遠</h2>
                <a class="banner-btn" href="#">立即購買</a>
            </div>
        </div>
        <!-- main -->
        <main>
            <!-- feature -->
            <section class="feature">
                <div class="container section-wrap">
                    <h3 class="section-header">用專業的心，做專業的事</h3>
                    <ul class="section-menu">
                        <li class="feature-item">
                            <img class="feature-icon" src="../assets/images/home-section2-1.png" alt="paid icon">
                            <h4>單一價格</h4>
                            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                        </li>
                        <li class="feature-item">
                            <img class="feature-icon" src="../assets/images/home-section2-2.png" alt="schedule icon">
                            <h4>20 分鐘即可取件</h4>
                            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                        </li>
                        <li class="feature-item">
                            <img class="feature-icon" src="../assets/images/home-section2-3.png" alt="favorite icon">
                            <h4>安心售後服務</h4>
                            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                        </li>
                        <li class="feature-item">
                            <img class="feature-icon" src="../assets/images/home-sectioin2-4.png" alt="voicemail icon">
                            <h4>關於鏡片</h4>
                            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- classic -->
            <section class="classic">
                <div class="container section-wrap">
                    <h3 class="section-header">經典系列鏡框</h3>
                    <ul class="section-menu">
                        <li class="classic-item">
                            <img class="classic-img" src="../assets/images/home-section3-1.png" alt="optical image">
                            <h4 class="section-sub-header">OPTICAL</h4>
                        </li>
                        <li class="classic-item">
                            <img class="classic-img" src="../assets/images/home-section3-2.png" alt="optical image">
                            <h4 class="section-sub-header">SUNGLASSES</h4>
                        </li>
                        <li class="classic-item">
                            <img class="classic-img" src="../assets/images/home-section3-3.png" alt="optical image">
                            <h4 class="section-sub-header">FUNCTIONAL</h4>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- design -->
            <section class="design">
                <div class="container section-wrap">
                    <h3 class="section-header">聯名設計鏡框</h3>
                    <ul class="section-menu">
                        <li class="item">
                            <div class="item-img1"></div>
                            <h4 class="section-sub-header">DOUBLE A+</h4>
                        </li>
                        <li class="item">
                            <div class="item-img2"></div>
                            <h4 class="section-sub-header">YOUTH</h4>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- reviews -->
            <section class="reviews">
                <div class="container section-wrap">
                    <h3 class="section-header">顧客推薦</h3>
                    <ul class="section-menu">
                        <li class="reviews-item">
                            <img class="reviews-img" src="../assets/images/home-section5-1.png" alt="Jessy">
                            <div class="info">
                                <h5 class="name">Jessy</h5>
                                <p class="feedback">眼鏡品質優良，下次還會想來這邊購買！</p>
                                <span class="date">2021/06/20</span>
                            </div>
                        </li>
                        <li class="reviews-item">
                            <img class="reviews-img" src="../assets/images/home-section5-2.png" alt="凱倫">
                            <div class="info">
                                <h5 class="name">凱倫</h5>
                                <p class="feedback">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                                <span class="date">2021/06/20</span>
                            </div>
                        </li>
                        <li class="reviews-item">
                            <img class="reviews-img" src="../assets/images/home-section5-3.png" alt="悠悠">
                            <div class="info">
                                <h5 class="name">悠悠</h5>
                                <p class="feedback">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                                <span class="date">2021/06/20</span>
                            </div>
                        </li>
                        <li class="reviews-item">
                            <img class="reviews-img" src="../assets/images/home-section5-4.png" alt="Kyuan">
                            <div class="info">
                                <h5 class="name">Kyuan</h5>
                                <p class="feedback">服務很好，品質沒有任何問題，非常喜歡。</p>
                                <span class="date">2021/06/20</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- contact -->
            <section class="contact">
                <div class="container section-wrap">
                    <h3 class="section-header">聯絡我們</h3>
                    <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                    <form class="form">
                        <label class="info" for="name">姓名</label>
                        <input class="input" type="text" name="name" id="name" placeholder="陳小明">
                        <label class="info" for="tel">連絡電話</label>
                        <input class="input" type="tel" name="tel" id="tel" placeholder="0912-345-678">
                        <label class="info" for="email">電子郵件</label>
                        <input class="input" type="email" name="email" id="email" placeholder="example@email.com">
                        <label class="info" for="feedback">意見反應</label>
                        <textarea class="input" name="feedback" id="feedback" placeholder="請輸入您的意見"></textarea>

                        <div class="privacy">
                            <input type="checkbox" name="privacy" id="privacy">
                            <label for="privacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                        </div>

                        <input class="submit" name="submit" type="submit" value="確認送出">

                    </form>
                </div>
            </section>
        </main>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>