<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="banner text-primary">
      <div class="container banner-wrap">
          <p class="banner-news">Promise-Desert 2020 早春系列</p>
          <h2 class="banner-slogan">看得清，才能看得遠</h2>
          <a class="banner-btn text-secondary bg-primary" href="#">立即購買</a>
      </div>
    </div>
    <!-- main -->
    <main>
        <!-- feature -->
        <section class="feature bg-secondary section-pd">
            <div class="container section-wrap">
                <h3 class="section-header">用專業的心，做專業的事</h3>
                <ul class="section-menu">
                    <li class="feature-item">
                        <img class="feature-icon"
                            src="../assets/images/home-section2-1.png" alt="paid icon">
                        <h4>單一價格</h4>
                        <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                    </li>
                    <li class="feature-item">
                        <img class="feature-icon" src="../assets/images/home-section2-2.png" alt="schedule icon">
                            <h4>20 分鐘即可取件</h4>
                            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                    </li>
                    <li class="feature-item">
                        <img class="feature-icon" src="../assets/images/home-section2-3.png" alt="favorite icon">
                            <h4>安心售後服務</h4>
                            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                    </li>
                    <li class="feature-item">
                        <img class="feature-icon" src="../assets/images/home-sectioin2-4.png" alt="voicemail icon">
                            <h4>關於鏡片</h4>
                            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- classic -->
        <section class="classic section-pd">
            <div class="container section-wrap">
                <h3 class="section-header">經典系列鏡框</h3>
                <ul class="section-menu">
                    <li class="classic-item">
                        <img class="classic-img"
                            src="../assets/images/home-section3-1.png" alt="optical image">
                        <h4 class="section-header">OPTICAL</h4>
                    </li>
                    <li class="classic-item">
                        <img class="classic-img"
                            src="../assets/images/home-section3-2.png" alt="optical image">
                        <h4 class="section-header">SUNGLASSES</h4>
                    </li>
                    <li class="classic-item">
                        <img class="classic-img"
                            src="../assets/images/home-section3-3.png" alt="optical image">
                        <h4 class="section-header">FUNCTIONAL</h4>
                    </li>
                </ul>
            </div>
        </section>

    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
