<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>眼鏡官網 - 門市據點</title>
</head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main class="store">
      <div class="container section-wrap">
        <h2 class="page-header">門市據點</h2>
        <div class="search-area">
          <p>選擇門市</p>
          <select class="store-search">
            <option value="地區搜尋" disabled selected hidden>地區搜尋</option>
            <option value="全部地區">全部地區</option>
            <option value="全部地區">台北市</option>
            <option value="全部地區">台中市</option>
            <option value="全部地區">高雄市</option>
          </select>
        </div>
        <div class="store-card">
          <ul class="store-card-list">
            <li class="store-card-item">
              <img src="/assets/images/store-1.png" alt="台北中山旗艦店">
              <h3 class="store-name">台北中山旗艦店</h3>
              <address class="store-info">
                <a class="store-info-item" href="tel:+886-2-0001234"><span
                    class="material-symbols-outlined store-icon">call</span>電話：(02)000-1234</a>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：台北市中山區南京東路25巷2-1號
                </p>
              </address>
              <a class="store-link" href="">詳細資訊</a>
            </li>
            <li class="store-card-item">
              <img src="/assets/images/store-2.png" alt="台北綠園店">
              <h3 class="store-name">台北綠園店</h3>
              <address class="store-info">
                <a class="store-info-item" href="tel:+886-2-0002345"><span
                    class="material-symbols-outlined store-icon">call</span>電話：(02)000-2345</a>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：台北市中正區復興南路 132-1 號
                </p>
              </address>
              <a class="store-link" href="">詳細資訊</a>
            </li>
            <li class="store-card-item">
              <img src="/assets/images/store-3.png" alt="台中清水旗艦店">
              <h3 class="store-name">台中清水旗艦店</h3>
              <address class="store-info">
                <a class="store-info-item" href="tel:+886-2-0001234"><span
                    class="material-symbols-outlined store-icon">call</span>電話：(02)000-1234</a>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：台中市清水區經南一路 23 號 8 樓
                </p>
              </address>
              <a class="store-link" href="">詳細資訊</a>
            </li>
            <li class="store-card-item">
              <img src="/assets/images/store-4.png" alt="高雄中正形象店">
              <h3 class="store-name">高雄中正形象店</h3>
              <address class="store-info">
                <a class="store-info-item" href="tel:+886-2-0002345"><span
                    class="material-symbols-outlined store-icon">call</span>電話：(02)000-2345</a>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：高雄市苓雅區中正路38號 12 樓
                </p>
              </address>
              <a class="store-link" href="">詳細資訊</a>
            </li>
            <li class="store-card-item">
              <img src="/assets/images/store-5.png" alt="高雄夢時代店">
              <h3 class="store-name">高雄夢時代店</h3>
              <address class="store-info">
                <a class="store-info-item" href="tel:+886-2-0001234"><span
                    class="material-symbols-outlined store-icon">call</span>電話：(02)000-1234</a>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">schedule</span>營業時間：10:00-21:00</p>
              
                <p class="store-info-item"><span class="material-symbols-outlined store-icon">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓
                </p>
              </address>
              <a class="store-link" href="">詳細資訊</a>
            </li>
          </ul>
        </div>
        

      </div>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
